---
import Layout from '../layouts/layout.astro';
---

<Layout title="Panel Principal">
	<header class="mb-8">
		<h1 class="text-3xl font-bold text-slate-800">Bienvenido al Sistema de Gestion Académico</h1>
		<p class="text-slate-500">Resumen general del sistema académico.</p>
	</header>

	<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
		<div class="bg-white p-6 rounded-xl shadow-sm border border-slate-200">
			<h3 class="text-slate-400 text-sm font-semibold uppercase">Total Estudiantes</h3>
			<p class="text-4xl font-bold text-slate-800">1,250</p>
		</div>
	</div>
	<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
		<div class="bg-white p-6 rounded-xl shadow-sm border border-slate-200">
			<h3 class="text-slate-400 text-sm font-semibold uppercase">Total Docentes</h3>
			<p class="text-4xl font-bold text-slate-800">75</p>
		</div>
</div>
</Layout>