---
import '../styles/global.css';
import Sidebar from '../components/sidebar.svelte';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title} | SIGA</title>
	</head>
	<body class="bg-slate-50 flex">
		<Sidebar client:load />

		<main class="ml-64 w-full min-h-screen p-8">
			<slot />
		</main>
	</body>
</html>